<table class="table table-striped">
	<thead>
		<tr>
			<th>Series Name</th>
			<th>Num</th>
			<th>Episode Name</th>
			<th>Download</th>
		</tr>
	</thead>
	<tbody>
	{{#SeriesList}}
	<tr>
		<td rowspan="{{NumberOfEpisodes}}">{{Name}}</td>
		{{#Head}}
		<td>{{Number}}</td>
		<td>{{Name}}</td>
		<td><a href="/torrents/download/{{TorrentID}}">.torrent</a></td>
		{{/Head}}
		
		{{^Head}}
		<td>N/A</td>
		<td>{{Name}}</td>
		<td><a href="/torrents/download/{{TorrentID}}">.torrent</a></td>
		{{/Head}}
	</tr>

	{{#Tail}}
		<td>{{Number}}</td>
		<td>{{Name}}</td>
		<td><a href="/torrents/download/{{TorrentID}}">.torrent</a></td>
	{{/Tail}}
	{{/SeriesList}}
	</tbody>
</table>