{{#Flash}}
	<div class="flash">
		{{Message}}
	</div>
{{/Flash}}
<div class="articles">
	<div class="article">
		When creating your new torrent please set the tracker to <br />
		<strong>{{AnnounceURL}}</strong>
		<br /><br />
		This will ensure that you can begin seeding the torrent as soon as it becomes available.
		<br /><br />
		Select a torrent to upload: <br />
		{{> app/views/torrent/new_torrent}}
	</div>
</div>