{{#FormFor torrentCreate post multipart/form-data torrent-upload}}
	{{#LabelFor metainfo}}Torrent File{{/LabelFor}}
	{{#FileFor metainfo}}{{/FileFor}}

	<br /><br />
	<input type="submit" value="upload" />
{{/FormFor}}
