<form class="form-inline" role="form">
	<div class="input-group col-md-6">
		<input type="text" id="search-terms" class="form-control">
		<span class="input-group-btn">
			<button class="btn btn-default" type="submit">Search</button>
		</span>
	</div>

	<div class="btn-group" data-toggle="buttons">
		<label class="btn btn-default active">
			<input type="radio" name="options" id="option1"> Artist(s)
		</label>
		
		<label class="btn btn-default">
			<input type="radio" name="options" id="option2"> Album
		</label>
		
		<label class="btn btn-default">
			<input type="radio" name="options" id="option3"> Username
		</label>
	</div>
</form>