<h3> Welcome </h3>
<hr />
<p> 
	Thanks for installing <code>babou</code> 
</p>

<p> 
	`babou` is a private torrent tracker written in `Go`.
	This is alpha software under heavy development.
</p>

<p>
	Please view the project <a href="//github.com/drbawb/babou">on GitHub</a>
	for the latest updates on development.
</p>