<div class="entry-brief">
	<div class="entry-nav">
		{{> public_navbar}}
	</div>
{{#Flash}}
	{{Message}}
{{/Flash}}

{{#FormFor loginCreate post}}
        {{> app/views/login/login_form}}
{{/FormFor}}
</div>
