<div class="entry-brief">
	<div class="entry-nav">
		{{> public_navbar}}
	</div>
{{#Flash}}
	<div class="flash">
		{{Message}}
	</div>
{{/Flash}}

You will be banned for no discernable reason. <br /><br />
{{#FormFor loginSession post}}
        {{> app/views/login/login_form}}
{{/FormFor}}
</div>
