{{#LabelFor username}}Username{{/LabelFor}}
{{#TextFieldFor username}}{{/TextFieldFor}}
<br /><br />
{{#LabelFor password}}Password{{/LabelFor}}
{{#TextFieldFor password password}}{{/TextFieldFor}}
<input type="submit" value="login" />