{{#LabelFor username}}<div class="icon stuser"></div>{{/LabelFor}}
{{#TextFieldFor username}}{{/TextFieldFor}}
<br /><br />
{{#LabelFor password}}<div class="icon password"></div>{{/LabelFor}}
{{#TextFieldFor password password}}{{/TextFieldFor}}
<br /><br />
<input type="submit" value="login" />