{{#LabelFor username}} Username {{/LabelFor}}
{{#TextFieldFor username}}{{/TextFieldFor}}
<br /><br />
{{#LabelFor password}} Password {{/LabelFor}}
{{#TextFieldFor password password}}{{/TextFieldFor}}
<br /><br />
<input type="submit" value="login" />