<div class="entry-form">
{{#LabelFor username}} <div class="icon stuser"></div> {{/LabelFor}}
{{#TextFieldFor username}}{{/TextFieldFor}}
<br /><br />
{{#LabelFor password}} <div class="icon password"></div> {{/LabelFor}}
{{#TextFieldFor password password}}{{/TextFieldFor}}
<br /><br />
{{#LabelFor confirm-password}} <div class="icon password"></div> {{/LabelFor}}
{{#TextFieldFor confirm-password password}}{{/TextFieldFor}}
</div>

<input type="submit" value="Register" />