{{#LabelFor username}}Username{{/LabelFor}}
{{#TextFieldFor username}}{{/TextFieldFor}}
<br /><br />
{{#LabelFor password}}Password{{/LabelFor}}
{{#TextFieldFor password password}}{{/TextFieldFor}}
<br /><br />
{{#LabelFor confirm-password}}Confirm Password{{/LabelFor}}
{{#TextFieldFor confirm-password password}}{{/TextFieldFor}}
<br /><br />
<input type="submit" value="Register" />
