<div class="entry-form">
{{#LabelFor username}} Username {{/LabelFor}}
{{#TextFieldFor username}}{{/TextFieldFor}}
<br /><br />
{{#LabelFor password}} Password {{/LabelFor}}
{{#TextFieldFor password password}}{{/TextFieldFor}}
<br /><br />
{{#LabelFor confirm-password}} Confirm {{/LabelFor}}
{{#TextFieldFor confirm-password password}}{{/TextFieldFor}}
</div>

<input type="submit" value="Register" />