<!doctype html>

<html>
	<head>
		<title> Fatal(Syntax) </title>
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	</head>
	<body>
		<div class="stretch">
			<img height="50" src="/assets/babou_invert.png" alt="baobu logo" align="middle" />
			[welcome {{Username}}] - [0 new messages] - [{{#LinkTo loginDelete}}Logout{{/LinkTo}}]
		</div>

		<div class="content">
			{{#Yield}}{{/Yield}}
		</div>

		<div class="stretch">
			&copy; 2013, Robert Straw, All Rights Reserved.
		</div>
	</body>
</html>