<!doctype html>

<html>
	<head>
		<title> Fatal(Syntax) </title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- Bootstrap -->
    	<!-- Latest compiled and minified CSS -->
    	<script src="http://code.jquery.com/jquery.js"></script>

		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="/assets/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container" style="margin-top: 40px">
			{{#Yield}}{{/Yield}}
		</div>
	</body>
</html>