<!doctype html>

<html>
	<head>
		<title> Fatal(Syntax) </title>
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	</head>
	<body>
		<div class="stretch">
		</div>
		<div class="entry-content">
			<div class="entry-logo"></div>
			{{#Yield}}{{/Yield}}
		</div>

		<div class="stretch">
			&copy; 2013, Robert Straw, All Rights Reserved.
		</div>
	</body>
</html>